# Игнориране на всички качени файлове
/uploads/

# Игнориране на специфични конфигурационни файлове
wp-config.php
.htaccess

# Игнориране на кеширани файлове и сесии
/cache/
/backups/
/sessions/

# Игнориране на автоматично генерирани файлове от редактори и операционни системи
.DS_Store
Thumbs.db
*.log
desktop.ini

# Игнориране на композирани зависимости
/vendor/
/node_modules/

# Игнориране на специфични плъгини или теми, които не трябва да бъдат версионирани
# Пример:
#/plugins/some-plugin/
#/themes/some-theme/

# Игнориране на автоматични бекъп файлове на редактори
*~
*.bak
*.swp
*.swo

# Игнориране на файлове, свързани със средата за разработка
/.vscode/
/.idea/
